<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Cortex!" %></h2>
  <p class="lead">A Firmata microcontroller coordination platform.</p>
</div>

<%= link "List Things", to: thing_path(@conn, :index) %>
